body{
	margin : 0px;
	background-color : #200020;
}

#headlineDiv{
	background-color : #202020;
	border: solid 20px #300000;
	border-radius : 200px;
}

#pointsDiv{
	background-color : #200020;
	border : solid 3px #200020;
}

#controlDiv{
	background-color : #200020;
	border : solid 3px #200020;
	text-align : center;
}

#headline{
	text-align : center;
	color : #909060;
	font-size : 70px;
}

#points{
	color : #909060;
	text-align : center;
	font-size : 40px;
}

#canvas{
	background-color : #202020;
	border : solid 15px #300000;
}

#canvasDiv{
	text-align : center;
}

.btn{
	background-color : #000030;
	color : #909060;
	border : solid 3px #300000;
	font-size : 45px;
	border-radius : 25px;
}
